<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Django에서만 작동 -->
    <link rel="icon" href="{% static 'media/webLogo.png' %}">
    <link rel="apple-touch-icon" href="{% static 'media/webLogo.png' %}">
    <!-- live server에서만 작동 -->
    <link rel="icon" href="../media/webLogo.png">
    <link rel="apple-touch-icon" href="../media/webLogo.png">
    <!-- Django에서만 작동 -->
    <link rel="stylesheet" href="{% static 'css/createId_style.css' %}">
    <!-- live server에서만 작동 -->
    <link rel="stylesheet" href="../static/css/createId_style.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>어린이가 위험해요!</title>
</head>
<body>
    {% block asd %}
    {% endblock %}
    <main class="main-container">
        <section class="create-container">
            <div class="logo-area">
                <img src="{{ MEDIA_URL }}webLogo.png" alt="로고" class="logo-img"><img src="{{ MEDIA_URL }}login_title.png" alt="타이틀" class="title"><br>
            </div>
            <div class="create-box">
                <h2 style="text-align: center; margin-bottom: 10px;">회원가입</h2>
                <form method="POST" action="{% url 'add_users' %}">
                    {% csrf_token %}
                    <div class="select">
                        <input type="radio" name="role" id="teacher" value="teacher"><label for="teacher" class="select-label">선생님</label>
                        <input type="radio" name="role" id="parent" value="parent"><label for="parent" class="select-label">학부모</label>
                    </div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username *" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password *" required>
                    <label for="checkPassword">Cheak Password:</label>
                    <input type="password" id="checkPassword" name="checkPassword" placeholder="Check your password *" required>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name *" required>
                    <br>
                    <button type="submit" class="createId-btn">저장</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>