<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <!-- 동영상 플레이어 css & js -->
        <link href="https://vjs.zencdn.net/8.22.0/video-js.css" rel="stylesheet" />
        <script src="https://vjs.zencdn.net/8.22.0/video.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Django에서만 작동 -->
        <link rel="icon" href="{% static 'media/webLogo.png' %}">
        <link rel="apple-touch-icon" href="{% static 'media/webLogo.png' %}">
        <!-- live server에서만 작동 -->
        <link rel="icon" href="../media/webLogo.png">
        <link rel="apple-touch-icon" href="../../media/webLogo.png">
        <!-- Django에서만 작동 -->
        <link rel="stylesheet" href="{% static 'css/parents_style.css' %}">
        <!-- live server에서만 작동 -->
        <link rel="stylesheet" href="J:\Graduation_work\Graduation_work\static\css\parents_style.css">
        <title>어린이가 위험해요!</title>
    </head>
    <body>
        {% block asd %}
        {% endblock %}
        <!-- 메인 영역 -->
        <!-- Django에서만 작동 -->
        <script src="{% static 'js/parents_page.js' %}"></script>
        <!-- live server에서만 작동 -->
        <script src="J:\Graduation_work\Graduation_work\static\js\parents_page.js"></script>
        <main class="main-container">
            <header class="site-header">
                <div class="logo-area">
                    <a href=".">    <!-- 이미지 누르면 새로고침 되는.. -->
                        <img src="{{ MEDIA_URL }}webLogo.png" alt="로고" class="logo-img"></a>
                </div>
                <h1 style="font-size: 25px; padding-left: 15px; margin: 5px;">{{ name }} 학부모님, 반갑습니다!</h1>
            </header>
            <div class="popup_layer" id="today_popup_layer" style="display: none;">
                <div class="popup_box">
                    <div style="height: 10px; width: 375px; float: top;">
                        <a href="javascript:closeTodayPop();"><img src="{{ MEDIA_URL }}ic_close.png" class="m_header-banner-close" width="30px" height="30px"></a>
                    </div>
                    <div class="popup_cont">
                        <h2 style="text-align: center;"> 오늘의 하루 </h2>
                        <h3 style="text-align: center; margin-bottom: 15px;">-------고우람 어린이-------</h3>
                        <video
                            id="my-video"
                            class="video-js"
                            controls preload="auto"
                            width="260"
                            height="150"
                            poster="MY_VIDEO_POSTER.jpg"
                            data-setup="{}">
                            <source src="../media/daily.mp4" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
            <div class="popup_layer" id="popup_layer" style="display: none;">
                <div class="popup_box">
                    <div style="height: 10px; width: 375px; float: top;">
                        <a href="javascript:closePop();"><img src="{{ MEDIA_URL }}ic_close.png" class="m_header-banner-close" width="30px" height="30px"></a>
                    </div>
                    <div class="popup_cont">
                        <h2> 알림장 </h2>
                        <p>오늘은 날씨가 되게 좋아요^^<br>
                        다른 아이들도 엄청 즐거워하고, 특히 우람이가 열심히 뛰어놀더라구요!<br>
                        보람이는 오늘 좀 피곤한지 앉아만 있었습니다ㅠㅠ<br><br>
                        그리구 너무 죄송하게도.. 오늘 위험한 일이 있었는데 앞으로 더욱 신경 쓰도록 하겠습니다...<br><br>
                        준비물: 양말, 모자, 장갑</p>
                    </div>
                    <div class="popup_cont">
                        <h2 style="text-align: center; margin-bottom: 15px;"> * 오늘의 위험 행동: 2건</h2>
                        <video
                            id="my-video"
                            class="video-js"
                            controls preload="auto"
                            width="260"
                            height="150"
                            poster="MY_VIDEO_POSTER.jpg"
                            data-setup="{}">
                            <source src="../media/danger.mp4" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
            <section class="homework-container" id="homeworkContainer">
                <div class="homework-box">
                    <div class="homework-list-box">
                        <table>
                            <thead>
                                <tr>
                                    <th>이름</th>
                                    <th>나이</th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>고우람</td>
                                    <td>5세</td>
                                    <td><button class="list-comment-btn" onclick="javascript:openPop()">알림장</button></td>
                                    <td><button class="today-btn" onclick="javascript:openTodayPop()"><img src="{{ MEDIA_URL }}photo.png"></button></td>
                                </tr>
                                <tr>
                                    <td>고보람</td>
                                    <td>3세</td>
                                    <td><button class="list-comment-btn" onclick="javascript:openPop()">알림장</button></td>
                                    <td><button class="today-btn" onclick="javascript:openTodayPop()"><img src="{{ MEDIA_URL }}photo.png"></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="other-box">
                    <p class="headline"><img src="{{ MEDIA_URL }}icon_call.png" alt="전화 아이콘" class="img-icon">053-1234-5678</p><br>
                    <p class="headline"><img src="{{ MEDIA_URL }}icon_email.png" alt="이메일 아이콘" class="img-icon">ppi_ppiyong@kindergarden.com</p><br>
                    <p class="headline"><img src="{{ MEDIA_URL }}icon_where.png" alt="위치 아이콘" class="img-icon">유치원 위치</p>
                    <div style="text-align: center;"><img src="{{ MEDIA_URL }}maps.png" alt="지도" class="map-img"></div>
                </div>
            </section>
            <nav class="header-nav">
                <ul>
                    <li><a href="../">로그아웃</a></li>
                </ul>
            </nav>
        </main>
    </body>
</html>