<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>임시 결과 값 넣기 페이지</title>
    </head>
    <body>
        {% block asd %}
        {% endblock %}
        <div>
            <form method="POST" action="{% url 'input_results' %}">
                {% csrf_token %}
                <label for="child_id">아동 ID: </label>
                <input type="text" id="child_id" name="child_id"><br>
                <label for="event_type">감지된 행동: </label><br>
                <input type="radio" id="crying" name="action" value="crying"><label for="crying">울음</label>
                <input type="radio" id="running" name="action" value="running"><label for="running">달림</label>
                <input type="radio" id="fallingdown" name="action" value="fallingdown"><label for="fallingdown">넘어짐</label><br>
                <input type="radio" id="eating" name="action" value="eating"><label for="eating">먹음</label>
                <input type="radio" id="hitting" name="action" value="hitting"><label for="hitting">맞음</label>
                <input type="radio" id="bumping" name="action" value="bumping"><label for="bumping">부딪힘</label>
                
                <br>
                <label for="confidence">인식 신뢰도: </label>
                <input type="range" min="0" max="100" id="confidence" name="confidence"><br>
                <label for="timestamp">감지 시간: </label>
                <input type="datetime-local" step="1" id="timestamp" name="timestamp"><br><br>
                <input type="submit" value="저장">
                {% if success %}
                    <p style="color:green;">데이터가 저장되었습니다.</p>
                {% endif %}
            </form>
        </div>
    </body>
</html>