@font-face {
    font-family: 'KNPSKkomi';
    src: url('/static/fonts/KNPSKkomi.otf') format('opentype');
    font-size: 18px;
}

/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KNPSKkomi', sans-serif;
}

body {
    background-color: #fffdf2;
}

/* 헤더 스타일 */
.site-header {
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
}

.header-nav ul {
    list-style: none;
    margin-top: 5px;
    text-align: center;
}

.header-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.header-nav a:hover {
    text-decoration: underline;
}

/* 로고 영역 */
.logo-area {
    margin: 15px 0;
}

.logo-img {
    width: 60px;
    /* 로고 크기 */
    height: auto;
}

/* 메인 컨테이너 */
.main-container {
    display: grid;
    place-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 400px;
    min-width: 320px;
    margin: 80px auto;
    border-radius: 20px;
    background-color: #fff9a9;
    border-bottom: 3px solid #eee;
}

/* 알림장 컨테이너 */
.homework-container {
    margin-top: 15px;
    width: 90%;
}

.homework-box {
    display: grid;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.homework-list-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.homework-list-box p {
    text-align: center;
    font-size: 16px;
}

/* 테이블(aka 리스트) 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    font-size: 20px;
    padding: 0 5px;
}

thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #ccc;
}

tbody {
    display: block;
    max-height: 360px;
    overflow-y: auto;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

tbody tr {
    display:table;
    width: 100%;
    table-layout: fixed;
}

table th, table td {
    text-align: center;
    padding: 8px;
    border: none;
    box-sizing: border-box;
}

th:nth-child(1),
td:nth-child(1) {
    width: 30%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 30%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 30%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 10%;
}

/* 알림장 버튼 */
.list-comment-btn {
    background-color: #fce40b;
    color: #474747;
    font-weight: bold;
    font-size: 13px;
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.list-comment-btn:hover {
    background-color: #dbcd07;
}

/* 오늘의 하루 버튼 */
.today-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.today-btn img {
    width: 15px;
}

.other-box {
    background-color: transparent;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
}

.img-icon {
    width: 10px;
    height: auto;
    margin-right: 5px;
}

p.headline {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

details > summary {
    font-size: 14px;
    font-weight: bold;
    text-align: center;  
}

details > summary::-webkit-details-marker {
    transition: transform 0.25s;
}

.map-img {
    width: 200px;
    height: 200px;
    margin: 2px;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    margin: 5px auto;
}

/* 팝업 - 퍼옴 */
.popup_layer {
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 10000; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
}
/*팝업 박스*/
.popup_box{
    position: relative;
    top:50%;
    left:50%;
    height: 560px;
    width:380px;
    overflow-y: scroll;
    overflow-x : hidden;
    transform:translate(-50%, -50%);
    border-radius: 12px;
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
}
.popup_box::-webkit-scrollbar {
    width: 9px;
}
.popup_box::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 20px;
    background-clip: padding-box;
    border: 1.5px solid transparent;
}
.popup_box::-webkit-scrollbar-track {
    background-color: #fffdf7;
    border-radius: 3px;
    width: 10px;
}
.popup_box::-webkit-scrollbar-thumb:hover {
	background-color:#707070;
}
/*컨텐츠 영역*/
.popup_box .popup_cont {
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    line-height: 1.4rem;
    font-size: 15.5px; 
}
.popup_box .popup_cont h2 {
    padding:15px 0;
    color:#333;
    margin:0;
}
.popup_box .popup_cont p { 
    border-top: 1px solid #666;
    padding-top: 30px;
}
/*버튼영역*/
.popup_box .popup_btn {display:table;table-layout: fixed;width:100%;height:70px;background:#ECECEC;word-break: break-word;}
.popup_box .popup_btn a {position: relative; display: table-cell; height:70px;  font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#ECECEC;}
.popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_box .popup_btn a.close_day {background:#5d5d5d;}
.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}

/* 슬라이더 */
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    overflow: hidden;
    width: 280px;
    max-width: 280px;
}
.slide_box {
    width: calc(280px * 4);
    transition: 0.5s;
}
.slide_item {
    float: left;
}
.slide_item img {
    max-width: 280px;
}
.prev img {
    max-width: 20px;
    padding: 5px;
    cursor: pointer;
}
.next img {
    max-width: 20px;
    padding: 5px;
    cursor: pointer;
}

/* 슬라이더1 */
.wrap1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 {
    overflow: hidden;
    width: 280px;
    max-width: 280px;
}
.slide_box1 {
    width: calc(280px * 4);
    transition: 0.5s;
}
.slide_item1 {
    float: left;
}
.slide_item1 img {
    max-width: 280px;
}
.prev1 img {
    max-width: 20px;
    padding: 5px;
    cursor: pointer;
}
.next1 img {
    max-width: 20px;
    padding: 5px;
    cursor: pointer;
}

.childLabel {
    display: block;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    color: #2e2e2e;
    font-size: 13px;
}

.childInput {
    display: block;
    float: right;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 8px;
}

select {
    display: block;
    float: right;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-left: 8px;
}

.child-name {
    text-align: center;
    margin-bottom: 14px;
}


.child-add-btn {
    background-color: #f8e784;
    color: #313131;
    font-size: 13px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 90px;
}

.child-add-btn:hover {
    background-color: #f0d852;
}

.submit-btn {
    background-color: #f8e784;
    color: #313131;
    font-size: 13px;
    border: none;
    padding: 8px 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 120px;
}

.submit-btn:hover {
    background-color: #f0d852;
}